@import "tailwindcss";

:root {
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-primary-light: #60a5fa;
  --color-bg-main: #f3f4f6;
  --color-bg-card: #ffffff;
  --color-border: #e5e7eb;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-accent: #0ea5e9;
  --color-success: #10b981;
  --color-success-light: #d1fae5;
}

body {
  background-color: var(--color-bg-main);
}
